---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import logoImgUrl from '../../public/logo.png';
---

<Layout title="Malachi Daily | Simple Scripture Memorization, Together">
	<main class="w-screen h-screen px-6 flex justify-center bg-gray-100">
		<div class="max-w-[600px] w-full flex flex-col py-12 gap-12">
			<!-- LOGO -->
			<div class="w-full flex gap-4 items-center">
				<Image 
					src={logoImgUrl} 
					alt="Malachi Daily Logo | shows hands praying" 
					class={`aspect-[${logoImgUrl.height}/${logoImgUrl.width}] h-[48px] w-fit`}
				/>
				<h2 class="text-3xl text-gray-800 font-bold whitespace-nowrap">Malachi Daily</h2>
			</div>

			<!-- SCRIPTURE TO MEMORIZE -->
			<div class="relative z-10 max-w-2xl p-4 rounded-md text-center">
				<h2 class="text-4xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-600">
					For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish
					but have eternal life.
				</h2>
				<h1 class="text-2xl font-normal mt-4 bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-600">
				  John 3:16
				</h1>
				<input type="range" min="0" max="60" value="0" class="range mt-12 range-sm" step="10" />
				<div class="w-full flex justify-between text-xs px-2">
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
					<span>|</span>
				</div>
			</div>
		</div>
	</main>
</Layout>
