<section class="w-full p-4">
  <ul class="w-full flex justify-center gap-4 flex-wrap text-primary">
    <li class="leading-3 flex items-center">
      <a
        x-data={`{
          createEmailLink() {
            // Set up the email link for getting help
            const helpEmailLink = new URL('mailto:cameronandrewpak+malachidaily@gmail.com');
            helpEmailLink.searchParams.set('cc', 'hello@malachidaily.com');
            helpEmailLink.searchParams.set('subject', encodeURIComponent('Malachi Daily Help Request'));
            let emailBody = '';
            emailBody += 'I want help with the following:\\n\\n';
            emailBody += '{Write about what you need help with here}\\n\\n';
            emailBody += '—Below is some necessary data to help debug any issues:—'
            emailBody += '\\n• Scripture Ref: ' + scriptureRef;
            emailBody += '\\n• Scripture: ' + scriptureTextOriginal;
            emailBody += '\\n• User Agent: ' + window.navigator.userAgent;
            helpEmailLink.searchParams.set('body', encodeURIComponent(emailBody));
            return decodeURIComponent(helpEmailLink.href)
          },
          emailLink: ''
        }`}
        x-clear
        x-init="emailLink = createEmailLink()"
        x-bind:href="emailLink"
        target="_blank"
        class="link whitespace-nowrap text-xs"
      >
        Contact Us
      </a>
    </li>
    <li class="leading-3 flex items-center">
      <button
        x-on:click="window.alert('Try reading the verse.\\n\\nEvery day a few words of the verse is hidden to help you practice it. It's interactive! You can tap a hidden work and fill it in using your keyboard.\\n\\nThe slider helps you hide more words or show more words in the verse.\\n\\n--\\n\\nThis web app is a companion to the Malachi Daily newsletter, where we help you memorize 1 Bible verse every other week and learn its context.\\n\\nIf you are not receiving those emails or want to learn more, you can sign up at malachidaily.com')"
        class="flex gap-1 items-center link whitespace-nowrap text-xs"
      >
        <svg width={16} height={16} viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" fill-rule="evenodd" d="M7.5 1a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13m0 12a5.5 5.5 0 1 1 0-11a5.5 5.5 0 0 1 0 11m1.55-8.42a1.84 1.84 0 0 0-.61-.42A2.25 2.25 0 0 0 7.53 4a2.16 2.16 0 0 0-.88.17c-.239.1-.45.254-.62.45a1.89 1.89 0 0 0-.38.62a3 3 0 0 0-.15.72h1.23a.84.84 0 0 1 .506-.741a.72.72 0 0 1 .304-.049a.86.86 0 0 1 .27 0a.64.64 0 0 1 .22.14a.6.6 0 0 1 .16.22a.73.73 0 0 1 .06.3c0 .173-.037.343-.11.5a2.4 2.4 0 0 1-.27.46l-.35.42c-.12.13-.24.27-.35.41a2.33 2.33 0 0 0-.27.45a1.18 1.18 0 0 0-.1.5v.66H8v-.49a.94.94 0 0 1 .11-.42a3.09 3.09 0 0 1 .28-.41l.36-.44a4.29 4.29 0 0 0 .36-.48a2.59 2.59 0 0 0 .28-.55a1.91 1.91 0 0 0 .11-.64a2.18 2.18 0 0 0-.1-.67a1.52 1.52 0 0 0-.35-.55M6.8 9.83h1.17V11H6.8z" clip-rule="evenodd"/>
        </svg>
        How to Use
      </button>
    </li>
    <li class="leading-3 flex items-center">
      <a
        class="link whitespace-nowrap text-xs"
        href="https://malachidaily.com"
        target="_blank"
      >
        Our Website
      </a>
    </li>
    <li
      class="leading-3 flex items-center"
      x-cloak
      x-show="!isPWAInstalled && !isUsingArcBrowser"
    >
      <button
        class="link whitespace-nowrap text-xs"
        x-on:click="showPWAInstallDrawer()"
      >
        Install the App
      </button>
    </li>
    <!-- Show rate the app once it's been installed -->
    <li 
      class="leading-3 flex items-center"
      x-cloak
      x-show="isPWAInstalled"
    >
      <a
        class="link whitespace-nowrap text-xs"
        href="https://store.app/app-malachidaily-com?utm_source=app-malachidaily-com"
        target="_blank"
      >
        Rate the App
      </a>
    </li>
    

    <!-- Hiding socials right now because they're not as active... -->
    <!-- <li class="flex gap-3 leading-3 flex items-center">
      <!- - Instagram Social - ->
      <a
        class="link"
        href="https://www.instagram.com/malachidailyHQ/"
        target="_blank"
        title="Visit Malachi Daily on Instagram"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="currentColor"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
          ></path>
        </svg>
      </a>
      <!- - Twitter Social - ->
      <a
        class="link"
        href="https://twitter.com/malachidailyhq/"
        target="_blank"
        title="Visit Malachi Daily on Twitter/X"
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill="currentColor"
            d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231l5.45-6.231Zm-1.161 17.52h1.833L7.045 4.126H5.078L17.044 19.77Z"
          ></path>
        </svg>
      </a>
    </li> -->
  </ul>
</section>
