---
import PoppyVacationSvg from "../../components/astro/illustration/poppy-vacation.astro";
---

<section class="gap-4 w-full flex flex-col items-center">
    <div
        class="shrink gap-4 w-full flex flex-col items-center mb-4"
    >
        <div
            class="shrink text-primary w-full max-w-[250px] tooltip tooltip-top"
            data-tip="Illustration source: popsy.co"
        >
            <PoppyVacationSvg />
        </div>
        <div class="flex flex-col gap-1 justify-center">
            <h2 class="text-center text-2xl text-primary font-bold">It's an Off Week</h2>
            <p
                class="text-center text-muted whitespace-nowrap inline"
                x-text="daysUntilNextVerse + ' days until next verse'"
            >
                -
            </p>
        </div>
    </div>
</section>
