---
import PoppyVacationSvg from '../../components/astro/illustration/poppy-vacation.astro';
import { getAllVerses, verseTableHeaders } from "../../api/verses";

const nowAndPastVersesFromApi = await getAllVerses({
    filters: JSON.stringify({
        filter_type: "AND",
        filters: [
            { type: "boolean", field: verseTableHeaders.pastStartDate, value: "1" },
        ],
        groups: [],
    }),
    // The minus up front tells the API to order by the descending order.
    orderBy: '-' + verseTableHeaders.startDate,
    size: 100
});

const { nextVerseComesInDays = 0, } = Astro.props;
---

<section class="gap-4 w-full flex flex-col items-center">
    <div class="text-primary w-full max-w-[250px] tooltip tooltip-top" data-tip="Illustration source: popsy.co">
        <PoppyVacationSvg />
    </div>
    <div class="flex flex-col gap-1">
        <h2 class="text-2xl text-primary font-bold">It's an Off Week</h2>
        <p class="text-muted whitespace-nowrap inline" x-text=`${nextVerseComesInDays} + ' days until next verse'`>
            -
        </p>
    </div>
    <select
        class="select mt-4 btn-filled-contrast !btn-md !pr-10 w-fit"
    >
        <option disabled selected>Review a Past Verse</option>
        {nowAndPastVersesFromApi.results.map((verse) => {
            return (
                <option>
                    {verse[verseTableHeaders.passageNumber]}.{' '}{verse[verseTableHeaders.readableVerseRef] || ''}
                </option>
            )
        })}
    </select>
</section>