---
import { Image } from 'astro:assets';

import Layout from '../../layouts/Layout.astro';
import logoImgUrl from '../../../public/logo.png';
---

<Layout title="Malachi Daily | Simple Scripture Memorization, Together">
	<main class="w-screen h-full min-h-screen px-6 flex justify-center bg-gray-100">
		<div class="max-w-[600px] w-full flex flex-col py-12 gap-12">
			<!-- LOGO -->
			<div class="w-full flex flex-col gap-2 items-center justify-center">
				<div class="w-full flex gap-2 items-center justify-center">
					<Image 
						src={logoImgUrl}
						alt="Malachi Daily Logo | shows hands praying" 
						class={`aspect-[${logoImgUrl.height}/${logoImgUrl.width}] h-[32px] w-fit`}
					/>
					<h2 class="text-3xl text-gray-800 font-bold whitespace-nowrap">Malachi Daily</h2>
				</div>
				<p class="text-gray-500">Scripture memorization, together. New verse every week.</p>
			</div>

            <section 
                x-data={`{
                    scriptureText: '',
                    scriptureRef: '',
                    get linkToNewVerse() {
                        const urlOrigin = window.location.origin;
                        const url = new URL(urlOrigin + '/embed');
                        url.searchParams.set('scripture-text', encodeURIComponent(this.scriptureText));
                        url.searchParams.set('scripture-ref', encodeURIComponent(this.scriptureRef));
                        return url.href
                    },
                }`.trim()}
                class="flex flex-col gap-4"
            >
                <h1 class="text-3xl max-sm:text-2xl font-bold">Create scripture link</h1>

                <form class="flex flex-col gap-4">
                    <!-- Scripture Reference Input -->
                    <div class="form-control w-full max-w-xs">
                        <label class="label">
                            <span class="label-text">Scripture Reference</span>
                        </label>
                        <input
                            x-model="scriptureRef" 
                            type="text" 
                            placeholder="Philippians 3:8 (NIV)" 
                            class="input input-bordered w-full max-w-xs" 
                        />
                    </div>
                    
                    <!-- Scripture Text Input -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Scripture Text</span>
                        </label>
                        <textarea
                            x-model="scriptureText"
                            style="height: 100px"
                            class="textarea textarea-bordered p-4 rounded-lg" 
                            placeholder="What is more, I consider everything a loss because of the surpassing worth of knowing Christ Jesus my Lord, for whose sake I have lost all things. I consider them garbage, that I may gain Christ"
                        ></textarea>
                    </div>
                </form>

                <div class="w-full mt-4">
                    <a class="link" x-bind:href="linkToNewVerse">Visit the new Verse Page</a>
                </div>
            </section>
		</div>
	</main>
</Layout>
