---
import "@fontsource/inconsolata/900.css"; // Specify weight

interface Props {
	title: string;
	description?: string;
}

const { title, description = 'The daily notification with an eternal purpose. Join thousands of Jesus followers memorizing Scripture together. Learn one Bible verse and its context per week.' } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gray-800">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>	
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
		<style is:global>
			.font-scripture {
				font-family: "Inconsolata";
				word-spacing: -4px;
				letter-spacing: normal;
				@apply text-4xl max-sm:text-3xl;
			}

			body {
				@apply max-sm:overflow-x-hidden;
			}

			.font-scripture-serif {
				font-family: 'IBM Plex Mono', monospace;
				font-style: italic;
				word-spacing: -8px;
				letter-spacing: -2px;
				@apply text-4xl max-sm:text-3xl;
			}

			[x-cloak] {
				@apply hidden;
			}
		</style>
		<script>
			if ('serviceWorker' in navigator) {
				navigator
					.serviceWorker
					.register('/service-worker.js')
			}
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
